.container {
  position: relative;
  display: inline-block;
}

.img {
  display: block;
  width: 700px;
  height: auto;
}

.imgBounds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: auto; /* Ensure imgBounds captures mouse events */
}

.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
  z-index: 2;
  pointer-events: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  border-color: blue; /* Default border color */
  border-width: 2px;
  box-sizing: border-box; /* To include border in width and height */
}

.connectionCanvas {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
pointer-events: none;
}

.dotNameInputBox {
position: absolute;
/* top: -30px;  Position above the dot */
/* left: -25px; centers box above dot */
width: 70px; /* Adjust width as needed */
/* height:  Adjust height to fit input and border */
z-index: 3; /* Ensure it's above dots */
background-color: white;
border: 1px solid #ccc;
border-radius: 5px;
padding: 2px;
box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


.dotNameInput {
width: 100%;
padding: 0;
text-align: center;
box-sizing: border-box;
font-size: 0.8em;
border-radius: 0px; /*remove border radius to fit inside box*/
border: none;
outline: none;
background-color: transparent; /* Input bg transparent to see inputBox bg */
color: black; /* Ensure text is visible */
height: 20px; /*adjust height of input box*/
}

.contextMenu {
z-index: 10; /* Ensure it's on top of everything */
background-color: white;
border: 1px solid #ccc;
padding: 10px;
box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
border-radius: 5px;
}

.contextMenu label {
display: block; /* Each label on a new line */
margin-bottom: 5px;
}

.contextMenu input[type="checkbox"] {
margin-right: 5px;
}

.contextMenu button {
margin-top: 10px;
padding: 5px 10px;
cursor: pointer;
}

.dotName {
  position: absolute;
  transform: translateX(-50%);
  white-space: nowrap;
  background: rgba(255, 255, 255, 0.8); /* optional for better readability */
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 0.8em;
  pointer-events: none;
}